[user]
    name = junya
    email = junya0220yamashita@gmail.com
[include]
#    path = .gitconfig.local
[core]
    excludesfile = ~/.gitignore
    pager = less -r
    editor = vim
[color]
	ui = auto
[alias]
# S系.
    st = status
    sh = show
    sb = show-branch
    rema = rebase origin/master master
# commit,
    ci = commit -v            # 変更点を表示しながらcommit.
    co = checkout
    cia = commit -a -v        # ファイルの更新や削除をIndexに加えつつ変更点を表示しながらcommit.
# log.
    lp = log -p --decorate=full       # diffも一緒に出す.
    lf = log --stat --decorate=full   # 変更されたファイルも一緒に出す.
    tr = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'  # tree表示.
# branch.
    br = branch
    ba = branch -a             # originも含めた全てのbranchを表示.
    bm = branch --merged       # merge済みbranchのみ表示.
    bn = branch --no-merged    # mergeしていないbranchのみ表示.
# diff関連.
    dm = diff master           # masterとのdiff..
    dw = diff --color-words    # 単語単位色つけてdiff.
    dc = diff --cached         # addされているものとのdiff.
    ds = diff --staged         # 同上(1.6.1移行).
    d1 = diff HEAD~            # HEADから1つ前とdiff.
    d2 = diff HEAD~~           # HEADから2つ前とdiff.
    d3 = diff HEAD~~~          # HEADから3つ前とdiff.
    d4 = diff HEAD~~~~         # HEADから4つ前とdiff.
    d5 = diff HEAD~~~~~        # HEADから5つ前とdiff.
    d10 = diff HEAD~~~~~~~~~~  # HEADから10前とdiff.
# merge, diffをwinmergeで.
    windiff = difftool -y -d -t WinMerge
    winmerge = mergetool -y -t WinMerge
[push]
    default = simple
[diff]
    tool = WinMerge
[difftool "WinMerge"]
    path = C:/Program Files/WinMerge/WinMergeU.exe
    cmd = \"C:/Program Files/WinMerge/WinMergeU.exe\" -f \"*.*\" -e -u -r \"$LOCAL\" \"$REMOTE\"
[merge]
    tool = WinMerge
[mergetool "WinMerge"]
    path = C:/Program Files/WinMerge/WinMergeU.exe
    cmd = \"C:/Program Files/WinMerge/WinMergeU.exe\" -e -u \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
