# ignored file list
*~
.tags

# OS dependent files
#---------------------------
.DS_Store
Thumbs.db

# Bundler specific
#---------------------------
/vendor/bundle/
/.bundle/

# Office specific
~$*
*.tmp

# Vagrant specific
.vagrant/

# .gitignore should be under control.
!.gitignore

# Java
.gradle
.idea

# binary files
out/

# specific files
Head-First-Design-Patterns-master.iml
